@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

*{
  padding: 0;
  margin: 0;
}
  
header{
  height: 15%;
  width: 100%;

  display: flex;
  justify-content: center;

  z-index: 1;
}
header h1{
  font-family: 'Zen Dots', sans-serif;
  font-size: 50px;
  color: white;

  display: flex;
  text-align: center;
  justify-content: center;

  margin: 0;
}

.box{
  height: 440px;
  width: 520px;

  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: rgba(126, 97, 171, 0.5);
  backdrop-filter: blur(20px);
  border: 3px solid #cab2fb;
  border-radius: 20px;

  font-family: 'Zen Dots', sans-serif;
  font-size: small;

  z-index: 1;
}

.inputbox{
  height: 12%;
  width: 80%;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px solid #cab2fb;
  border-radius: 14px;
  background: transparent;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  
  margin-top: 12px;
}
.inputbox input{
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  background: transparent;

  color: #AEAEAE;
  
  padding: 20px;
}
input:focus {
  outline: none;
  border-color: initial;
}
.user{
  width: 30px;
  height: 30px;
  background: url("/public/account_circle.svg");
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
}
.mail{
  width: 30px;
  height: 30px;
  background: url("/public/mail.svg");
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
}
.lock{
  width: 30px;
  height: 30px;
  background: url("/public/lock.svg");
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
}

.singup{
  width: 100%;
  height: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
} 
.btn{
  width: 330px;
  height: 50px;

  border-radius: 15px;
  background-color:#36135A;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);

  color: white;
  font-weight: 600 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}
.btn:hover{
  background-color: rgb(207, 207, 207);
  color: #36135A;
  cursor: pointer;
}

.register{
  width: 100%;

  display: flex;
  align-items: flex-end;
  justify-content: center;

  color : #AEAEAE;
  flex-grow: 1;
}
.creat{
  padding: 7px;
}
.login{
  color: #36135A;
  cursor: pointer;

  background: transparent;
  border: none;

  padding: 10px;
}
.login:hover{
  text-decoration: underline;
  color: #AEAEAE;
}

.help{
  width: 100%;

  display: flex;
  align-items: flex-end;
  justify-content: center;

  flex-grow: 1;

  font-family: 'Zen Dots', sans-serif;
  color: #cab2fb;
  z-index: 1;
}
.contact{
  width: 340px;
  height: 30%;

  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;

  padding: 10px;
}

.star {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  filter: blur(2px);
  animation: twinkle 2s infinite alternate;
}
.star.small {
  width: 8px;
  height: 8px;
  box-shadow: 0px -6px 10px rgba(255, 255, 255, 0.6), 0px 6px 10px rgba(255, 255, 255, 0.3), -6px 0px 10px rgba(255, 255, 255, 0.4), 6px 0px 10px rgba(255, 255, 255, 0.4);
}
.star.tiny {
  width: 4px;
  height: 4px;
  box-shadow: 0px -3px 5px rgba(255, 255, 255, 0.6), 0px 3px 5px rgba(255, 255, 255, 0.3), -3px 0px 5px rgba(255, 255, 255, 0.4), 3px 0px 5px rgba(255, 255, 255, 0.4);
}
@keyframes twinkle {
    0%, 100% { opacity: 0.8; }
    50% { opacity: 0.3; }
}

@media only screen and (max-width: 600px) {

  header{
    height: 15%;
  }

  header h1{
    font-size: 40px;
  }

  .box{
    width: 85%;
    height: 45%;
  }

  .inputbox{
    width: 90%;
    height: 12%;
    font-size: x-small;
  }
  
  .remember{
    width: 95%;
    height: 20%;

    font-size: x-small;

    padding: 10px;
  }
  .rem{
    width: 105px;
    height: 100%;
  }
  .check{
    height: 13px;
    width: 13px;
    margin-bottom: 4px;
  }

  .btn{
    width: 70%;
    height: 55%;
    font-size: small;
  }

  .creat{
    font-size: x-small;
  }

  .contact{
    font-size: small;
    width: 290px;
  }
}